.main{
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    --background-start: rgba(28, 28, 28, 1);
    --background-end: rgba(28, 28, 28, 1);
    color: white;
    background: var(--background-start);
    background: -moz-linear-gradient(180deg, var(--background-start) 0%, var(--background-end) 100%);
    background: -webkit-linear-gradient(180deg, var(--background-start) 0%, var(--background-end) 100%);
    background: linear-gradient(180deg, var(--background-start) 0%, var(--background-end) 100%);
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: black;
    padding-bottom: 30vh;
    transition: border-radius 0.5s ease;
    max-width: 1200px;
    margin-top: 70px;
    min-height: calc(100vh - 70px);
}
.header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}
.title{
    margin: 0px;
}
@media screen and (max-aspect-ratio: 2 / 3){
    .container{
        margin-inline: 3px;
        border-radius: 21px 21px 0 0;
        padding-inline: 10px;
    }
    .title{
        font-size: 26px;
        line-height: 24px;
        margin-bottom: 12px;
    }
    
}
@media screen and (min-aspect-ratio: 2/3) and (max-width: 600px) {
    .container{
        margin-inline: 5px;
        border-radius: 21px 21px 0 0;
        padding-inline: 10px;
    }
    .title{
        font-size: 26px;
        line-height: 24px;
    }
}
@media screen and (min-aspect-ratio: 2/3) and (min-width: 600px) {
    .container{
        margin-inline: 26px;
        border-radius: 40px 40px 0 0;
        padding-inline: 40px;
    }
    .title{
        font-size: 25px;
        line-height: 36px;
    }
}
@media screen and (min-aspect-ratio: 2/3) and (min-width: 800px) {
    .container{
        margin-inline: 40px;
        border-radius: 60px 60px 0 0;
        padding-inline: 50px;
    }
    .title{
        font-size: 35px;
        line-height: 45px;
    }
}
@media screen and (min-aspect-ratio: 2/3) and (min-width: 1000px) {
    .container{
        margin-inline: 60px;
        border-radius: 60px 60px 0 0;
        padding-inline: 50px;
    }
    .title{
        font-size: 40px;
        line-height: 50px;
    }
}
@media screen and (min-aspect-ratio: 2/3) and (min-width: 1300px) {
    .container{
        margin-inline: 100px;
        border-radius: 80px 80px 0 0;
        padding-inline: 50px;
    }
    .title{
        font-size: 50px;
        line-height: 50px;
    }
}