.tag_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    color: inherit;
    overflow: scroll;
    scrollbar-width: 0px;
    padding-inline: 5px;
}
.tag_container::-webkit-scrollbar{
    display: none;
}
.category,
.tag{
    border: 1px rgba(0, 0, 0, 0.56) solid;
    padding-inline: 8px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: inherit;
    flex: 0 0 auto;
}
@media screen and (max-aspect-ratio: 1/1){
    .tag{
        background: var(--foreground-color-400);   
    }
    .category, .tag{
        border: none;
        font-size: 13px;
        padding: 3px;
        padding-inline: 8px;
        flex: 0 0 auto;
    }
}