@media screen and (max-aspect-ratio: 2/3){
    .navbar{
        display: none !important;
    }
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: none !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-inline: 75px;
    color: var(--foreground-color);
    user-select: none;
    background: var(--background-color-200);
}
.logo_container{
    width: 30px;
    height: 40px;
    fill: var(--foreground-color);
}
.dropdown_container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    height: 100%;
}
.category{
    padding: 10px;
    padding-inline: 15px;
    border-radius: 25px;
    cursor: pointer;
}
.category:hover{
    background: var(--background-color-200);
}
.category:active{
    background: var(--background-color-400);
}
.expanded_container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 1000px;
    height: fit-content;
    transform: translate(-50%, 0);
    z-index: -1;
    border-radius: 0 0 25px 25px;
    grid-template-columns: 40% 1fr;
    padding-inline: 10px;
    background-color: rgb(1, 1, 1);
    display: none;
}
.dropdown_container:hover .expanded_container, .dropdown_container:active .expanded_container{
    display: grid;
    padding-top: 55px;
    padding-bottom: 10px;
}
.project_list{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
}
.project{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 21px;
    border-radius: 10px;
    padding-inline: 8px;
    cursor: pointer;
}
.project:hover{
    background: var(--background-color-200);
}
.project_info{
    position: relative;
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-rows: auto auto;
}
.projectTitle{
    font-size: 21px;
    font-weight: 600;
}
.projectThumbnail{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    overflow: hidden;
    object-fit: "contain";
    cursor: pointer;
}
.thumbnail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    scale: 1;
    transition: scale 0.2s ease-in-out;
}
.thumbnail:hover{
    scale: 1.1;
}