@media screen and (max-aspect-ratio: 2/3){
    .navbar{
        display: none !important;
    }
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: none !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-inline: 75px;
    color: var(--foreground-color);
    user-select: none;
    background: var(--background-color-200);
}
.logo_container{
    width: 30px;
    height: 40px;
    fill: var(--foreground-color);
}
.dropdown_container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    height: 100%;
}
.category{
    padding: 10px;
    padding-inline: 15px;
    border-radius: 25px;
    cursor: pointer;
}
.category:hover{
    background: var(--background-color-200);
}
.category:active{
    background: var(--background-color-400);
}
.expanded_container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 700px;
    height: 0;
    transform: translate(-50%, 0);
    z-index: -1;
    border-radius: 0 0 25px 25px;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}
.dropdown_container:hover .expanded_container, .dropdown_container:active .expanded_container{
    height: 300px;
    transition: height 0.3s ease-in-out;
}
.expanded_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 55px;
    padding-inline: 10px;
    background-color: rgb(80, 80, 80);
}