@media screen and (max-aspect-ratio: 2/3){
    .navbar{
        display: none !important;
    }
}
@media screen and (min-aspect-ratio: 2/3) {
    .fixed{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background: none !important;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding-inline: 75px;
        color: var(--foreground-color);
        user-select: none;
        background: var(--background-color-200);
    }
    .logo_container{
        width: 30px;
        height: 40px;
        fill: var(--foreground-color);
    }
    .logo_container:hover{
        fill: var(--foreground-color-300);
    }
    .dropdown_container{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 7px;
        height: 100%;
    }
    .category{
        padding: 10px;
        padding-inline: 15px;
        border-radius: 25px;
        margin-top: 10%;
        margin-bottom: 10%;
        cursor: pointer;
    }
    .category:hover{
        background: var(--background-color-200);
    }
    .category:active{
        background: var(--background-color-400);
    }
    .expanded_container{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 1000px;
        height: fit-content;
        z-index: -1;
        border-radius: 0 0 25px 25px;
        grid-template-columns: 40% 1fr;
        background-color: rgb(1, 1, 1);
        /* border: 1px solid rgb(131, 131, 131);
        border-top: none; */
        /* box-shadow: 0px 0px 2px 2px rgb(27, 27, 27); */
        display: none;
    }
    .dropdown_container:hover .expanded_container, .dropdown_container:active .expanded_container{
        display: grid;
        padding-top: 55px;
        padding-bottom: 10px;
    }
    .project_list{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-inline: 10px;
    }
    .project{
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 21px;
        border-radius: 10px;
        padding-inline: 8px;
        cursor: pointer;
    }
    .project:hover{
        background: var(--background-color-200);
    }
    .project_info{
        position: relative;
        width: 100%;
        display: grid;
        gap: 5px;
        grid-template-rows: auto auto;
        height: fit-content;
    }
    .projectTitle{
        font-size: 21px;
        font-weight: 600;
    }
    .projectThumbnail{
        position: relative;
        width: 100%;
        aspect-ratio: 16/9;
        height: auto;
        object-fit: cover;
        border-radius: 15px;
        overflow: hidden;
        object-fit: "contain";
        cursor: pointer;
    }
    .thumbnail{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        opacity: 1;
        filter: brightness(1);
        transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }
    .thumbnail:hover{
        scale: 1.1;
        opacity: 0.8;
    }
}
@media screen and (min-aspect-ratio: 2/3) and (max-width: 600px){
    .navbar{
        display: none;
    }
}
@media screen and (min-aspect-ratio: 2/3) and (min-width: 600px){
    .dropdown_container{
        gap: 0px;
    }
    .expanded_container{
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: auto;
        transform: translate(0, 0);
        padding-inline: 5px;
    }
    .category{
        padding-inline: 7px;
    }
    .navbar{
        padding-inline: 15px;
    }
    
}
@media screen and (min-aspect-ratio: 2/3) and (min-width: 1000px){
    .dropdown_container{
        gap: 0px;
    }
    .expanded_container{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 800px;
        padding-inline: 10px;
    }
    .category{
        padding-inline: 7px;
    }
    .navbar{
        padding-inline: 15px;
    }
}
@media screen and (min-aspect-ratio: 2/3) and (min-width: 1300px){
    .dropdown_container{
        gap: 0px;
    }
    .expanded_container{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 1000px;
    }
    .category{
        padding-inline: 7px;
    }
    .navbar{
        padding-inline: 15px;
    }
}