:root{
    --background-color: rgb(28, 28, 28);
    --background-color-200: rgb(51, 51, 51);
    --background-color-300: rgb(74, 74, 74);
    --background-color-400: rgb(97, 97, 97);
    --foreground-color: rgb(255, 255, 255);
    --foreground-color-200: rgb(226, 226, 226);
    --foreground-color-300: rgb(198, 198, 198);
    --foreground-color-400: rgb(170, 170, 170);

    background-color: var(--background-color);
}
body{
    margin: 0;
}