.main{
    background: var(--background-color);
    min-height: 100vh;
    overflow-x: hidden;
}
.projectContainer{
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 75px;
    gap: 21px;
}